@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  .bg-psychedelic-blue {
    background-image: linear-gradient(
      135deg,
      #00aaff,
      #bedafffd,
      #00ffcc,
      #00ccff,
      #00aaff
    );
    background-size: 400% 400%;
    animation: gradientAnimationBlue 15s ease infinite;
    background-repeat: no-repeat;
  }

  @keyframes gradientAnimationBlue {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }
}

@layer utilities {
  .bg-psychedelic-blue-lamp {
    background-image: linear-gradient(
      135deg,
      rgba(0, 170, 255, 0.3),
      rgba(190, 218, 255, 0.3),
      rgba(0, 255, 204, 0.2),
      rgba(0, 204, 255, 0.3),
      rgba(0, 170, 255, 0.3)
    );
    background-size: 400% 400%;
    animation:
      gradientAnimationBlue 15s ease infinite,
      flickerAnimationBlue 2.5s ease-in-out infinite;
    background-repeat: no-repeat;
  }

  @keyframes gradientAnimationBlue {
    0% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 100% 100%;
    }
    100% {
      background-position: 0% 0%;
    }
  }

  @keyframes flickerAnimationBlue {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}

@keyframes clickShrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.button-click {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.button:active {
  animation: clickShrink 0.2s ease;
}
